/* Work Sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700;800&display=swap');

/* commmon shared styles */
li:hover {
    cursor: pointer;
    text-decoration: underline;
    box-shadow: 0.1px 0.1px 3px;
    padding: 1px;
    border: 1px solid purple;
}

button:hover {
    cursor: pointer;
    border: 1px solid purple;
    box-shadow: 0.1px 0.1px 3px;
}

i:hover {
    cursor: pointer;
}

.common-color {
    color: #F948B2;
}

* {
    margin: 0;
    padding: 0;
    font-family: work sans;
}

body .online-games {
    margin: auto;

}

/* header section */
.head-container {
    display: flex;
    height: 7vh;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: none;
    padding: 15px;
}

.logos {
    display: flex;
    width: 40%;
    align-items: center;
    gap: 5%;
    margin-left: 15%;
}

.logo-text {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.logo-photo {
    width: 87px;
    height: 40px;
}

.nav-option {
    display: flex;
    list-style: none;
    gap: 20px;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
}

.nav-option .gray {
    background-color: lightgray;
    padding: 8px;
    border-radius: 5px;
}

/* banner section starts */

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    gap: 5%;
    background-color: rgba(140, 87, 238, 0.00);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.main-banner {
    background-image: url('images/Group\ 14.png'), linear-gradient(223deg, rgba(140, 87, 238, 0.00) 0%, rgba(241, 68, 174, 0.02) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100%;
}

.banner-info {
    text-align: center;
    margin-top: 25%;
}

.banner-info h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}

.banner-info h1 {
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-info p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.banner-pic {
    width: 50%;
}

.banner-photo {
    width: 100%;
}

.button {
    margin-top: 60px;
}

.btn-1 {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-right: 20px;
}

.btn-2 {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 21px 40px;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

/* gamer secton starts here */

.gamer-container {
    height: 50vh;
    display: flex;
    padding: 5%;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-bottom: 45px;
    justify-content: space-around;
}

.gamer-picture {
    width: 50%;
    margin-top: 10px;
}

.gamer-info {
    width: 50%;
    text-align: right;
    align-items: center;
    justify-content: center;
}

.gamer-info h2 {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gamer-info p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.gamer-info h5 {
    margin-top: 25px;
}

.gamer-info h5 .our-purpose {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

.gamer-info h5 .unleash {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

/* online games funny videos sections starts here */

.online-games {
    height: 75vh;
    margin-top: 8%;
    text-align: center;
    gap: 0;
    width: 70%;
}

.online-games h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 25px;
}

.online-games p {
    color: #534C64;
    ;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
}

.box {
    border-radius: 16px;
    height: 385px;
    width: 230px;
    box-shadow: 1px 1px 5px;

}

.box-img {
    width: auto;
    height: 250px;
    margin-top: 15px;
}

.box-img:hover {
    border: 3px solid #F948B2;
    border-radius: 16px;
}


.funny-vdeo {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* play instantly setion starts */
.play-instantly {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;

}

.the-text {
    text-align: end;
}

.the-text h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.the-text p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.man-gun {
    width: 100%;
}

/* careers section starts */

.career-section {
    height: 112vh;
    background-image: url('images/Group\ 65.png'), linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-position: right;
    background-repeat: no-repeat;
    color: white;

}

.career-info {
    width: 35%;
    margin-left: 200px;
    margin-top: 50px;
    padding: 5% 0;
}


.career-info h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.career-info p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.points {
    display: flex;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}

.right-points {
    text-align: end;
}

.btn-3 {
    margin-top: 20px;
    border-radius: 48px;
    background: #FFF;
    padding: 21px 40px;
    gap: 10px;
    border: none;
    color: #FF42A5;
    font-size: 20px;
    font-weight: 600;
}

/* some games sections starts here */

.some-games {
    display: flex;
    margin-top: 20px;
    height: 50vh;
    width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.some-games div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-box {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 328px;
    width: 230px;
    justify-content: center;
    margin-bottom: 20px;
}

.game-box:hover {
    color: #FF42A5;
    border: 1px solid #FF42A5;
}

/* footer section starts here */

footer {
    background-color: #0B0223;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 70vh;
    color: white;
}

.footer-logo {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    display: flex;
    gap: 20px;
    padding-top: 40px;
    margin-bottom: 20px;
}

.footer-option {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 600;
}

.footer-icon {
    margin-top: 50px;
    padding: 30px;
    gap: 50px;
    display: flex;
    justify-content: center;
}

.alert-line {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    gap: 55px;
    margin-top: 100px;
}